/* Fonts */

body {
  font-family: 'Fira Sans', sans-serif;
}

code {
  font-family: 'Fira Mono', monospace;
}

/* Typography */

body {
  color: #333;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 8px;
}

ul {
  line-height: 1.2;
}

table {
  margin: 3em auto 4em auto;
}

th {
  font-weight: normal;
  color: #888;
}

td {
  min-width: 10em;
  background-color: #f6f6f6
}

p {
  font-size: 1em;
  margin: 0 0 10px 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: underline;
}

/* Page layout */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-horizontal {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 700px;
}

/* Header bar */

.navbar {
  margin: 0 0 20px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}

.navbar .page-horizontal {
  /* The padding will be defined by the nav items themselves */
  padding: 0;
}

.navbar__items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  /* When the navbar is on a single line,
   * align nav items on the left, based on the labels length. */
  flex-grow: 0;
  text-align: left;
}
@media (max-width: 650px) {
  .navbar__item {
    /* When the navbar wraps on several lines,
     * expand the nav items to look like centered buttons. */
    flex-grow: 1;
    text-align: center;
  }
}

.navbar__item a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: #666;
}
.navbar__item a:hover {
  color: #222;
  text-decoration: none;
}

.navbar__home {
  font-size: 1.2em;
}

.navbar__logo {
  vertical-align: middle;
  margin-right: 20px;
}

/* Generic styles */

main li:not(:last-child) {
  margin-bottom: 10px;
}

figure {
  text-align: center
}

footer {
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
}

/* Home page */

.home__overview {
  max-width: 750px;
  margin: 50px auto 60px auto;
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
}

/* Articles list */

.articles-list article {
  margin-top: 35px;
}

.articles-list__meta {
  margin-top: -8px;
  margin-bottom: 10px;
  font-style: italic;
}

.articles-list__title a:not(:hover) {
  color: inherit;
}

/* Individual article */

.article__meta {
  margin-top: -50px;
  margin-bottom: 50px;
  font-style: italic;
}

.article img {
  max-width: 100%;
  outline: 1px solid #e7e7e7;
}

.article figcaption {
  font-style: italic;
}

/* Syntax-highlighted code blocks */

.highlight pre {
  padding: 4px 6px;
  font-size: 90%;
  overflow-x: auto;
}

/* Biographies */

.bios {
  display: grid;
  /* To achieve a three-column layout on the max-width,
   * default width is `(container-width - container-h-padding*2 - grid-gap * 2) / 3` */
  grid-template-columns: repeat(auto-fill, 296px);
  grid-gap: 30px;
  margin-top: 25px;
  justify-items: center;
  justify-content: space-evenly;
}

.bio {
  width: 296px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}

.bio__name {
  font-size: 26px;
  margin: 0;
  padding: 20px 5px;
}

.bio__pic {
  height: 180px;
  margin: 0px auto;
  object-fit: contain;
}

.bio__desc {
  margin: 25px 0 15px 0;
  padding: 0 15px 0 40px;
  list-style-type: none;
  list-style-position: outside;
  text-align: left;
}

.bio__desc li {
  padding-bottom: 4px;
  text-indent: -21px;
}

.bio__desc li .icon {
  margin-right: 3px;
}

.bio__email-diacritics {
  display: block;
  text-indent: 0;
  font-style: italic;
}

/* GPG key */

.gpg__container {
  text-indent: 0;
  word-wrap: break-word;
}

.gpg__checkbox {
  display: none;
}

.gpg__short-id {
  font-style: italic;
  user-select: none;
}
.gpg__short-id:hover {
  cursor: pointer;
  text-decoration: underline;
}

.gpg__fingerprint {
  display: none;
}
.gpg__checkbox:checked ~ .gpg__fingerprint {
  display: block;
}

/* Icons
 * Mostly extracted from https://github.com/encharm/Font-Awesome-SVG-PNG/tree/master/black/svg
 */

.icon::before {
  display: inline-block;
  content: ' '; /* a single unbreakable space */
  width: 14px;
  background: no-repeat center center;
  background-size: contain;
}

.icon-envelope::before { background-image: url('../img/fa-envelope.svg') }
.icon-github::before   { background-image: url('../img/fa-github.svg') }
.icon-gitlab::before   { background-image: url('../img/fa-gitlab.svg') }
.icon-heart::before    { background-image: url('../img/fa-heart.svg') }
.icon-key::before      { background-image: url('../img/fa-key.svg') }
.icon-twitter::before  { background-image: url('../img/fa-twitter.svg') }
.icon-mastodon::before { background-image: url('../img/fa-mastodon.svg') }

@media (prefers-color-scheme: dark) {
  body {
    color: #f6f6f6;
    background-color: #101010;
  }
  a {
    color: #f72223;
  }
  a:focus, a:hover {
    color: #d42021;
  }
  th {
    color: #888;
  }
  td {
    background-color: #1a1a1a
  }
  .navbar {
	  background-color: #282828;
	  border-bottom: 1px solid #3a3a3a;
  }
  .navbar__item a {
    color: #d4d4d4;
  }
  .navbar__item a:hover {
    color: #e8e8e8;
  }
  .bio {
	  background-color: #282828;
	  border: 1px solid #3a3a3a;
  }
  .icon {
    filter: invert(95%);
  }
}
